

.card {
    width: 90%; /* change from 18rem to 90% */
    max-width: 30rem; /* add a max-width to prevent card from becoming too wide */
    margin: 0 auto; /* center the card horizontally */
    align-items: center;
    max-height: 40rem;
  }
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }

  .carousel-inner{
    background-color: darkgray;
    height: 350px;
    display: flex;
    align-items: center;
    
  }
  
  .carousel-item {
    text-align: center;
    
    
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
    opacity: 0.5;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 1;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #bbb;
    border-radius: 50%;
  }
  
  .carousel-indicators .active {
    background-color: #333;
  }
  