

<div class="container" style="margin-top: 30px;">
  <h1 class="display-3">Services Component </h1>

</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <img src="../../assets/images/fintech_I.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project in Fintech</h5>
          <p class="card-text">Projects Finance Industry, where Money and Transactions Matter</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img src="../../assets/images/AI_L.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Projects in AI</h5>
          <p class="card-text">Working on Projcts which are driven by AI or building a system with AI and ML</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img src="../../assets/images/prodct_I.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">This is card 3.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
