<div class="container" style="margin-top: 30px">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">
        Simple Heading for the home Component
      </h1>
      <p class="lead my-3">
       Below i have created a simple image grid system with help of bootstrap.
       Filters has being used at start, when we hover the image it get scaled and the filter is removed.
      </p>
      <p class="lead mb-0">
        <a href="#" class="text-white font-weight-bold">Continue reading...</a>
      </p>
    </div>
  </div>
</div>


<div class="container-fluid">
  
  <div class="row row1">
    <div class="col-md-4 col-xs-4">
      <div class="box box1">
        <img src="https://unsplash.it/400/300?image=837">
      </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="box box2">
        <img src="https://unsplash.it/400/300?image=670">
      </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="box box3">
        <img src="https://unsplash.it/400/300?image=839">
      </div>
    </div>
  </div>
  <div class="row row2">
    <div class="col-md-4 col-xs-4">
      <div class="box box4">
        <img src="https://unsplash.it/400/300?image=526">
      </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="box box5">
        <img src="https://unsplash.it/400/300?image=486">
      </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="box box6">
        <img src="https://unsplash.it/400/300?image=514">
      </div>
    </div>
  </div>
</div>


