.container-fluid {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  
  h3 {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .row {
    margin-top: 2.5%;
  }
  
  .box {
    max-width: 400px;
    max-height: 300px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .box1 {
    background-color: red;
  }
  
  .box2 {
    background-color: blue;
  }
  
  .box3 {
    background-color: green;
  }
  
  .box4 {
    background-color: purple;
  }
  
  .box5 {
    background-color: yellow;
  }
  
  .box6 {
    background-color: orange;
  }
  
  img {
    width: 100%;
    max-width: 420px;
    height: auto;
    opacity: 0.75;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-timing-function: ease-in;
    transition: 1.5s;
  }
  
  img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition-timing-function: ease-in;
    transition: 1.5s;
  }